@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
body {
    background-attachment: fixed;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: left;
    padding: 2%;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    width: 20%;
}

.center {
    display: block;
    height: 100%;
    justify-content: center;
    width: 60%;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: right;
    width: 20%;
}

.lObject {
    display: block;
    justify-content: left;
    margin-top: 12px;
    width: 100%;
}

.cObject {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rObject {
    display: block;
    justify-content: right;
    width: 100%;
}

.text {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

button {
    background-color: #deccba;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: 3px 24px;
}

button:hover {
    background-color: #a8937d;
}

input {
    background-color: #efe6df;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 26px;
    outline: none;
    padding: 2px;
}

svg {
    background-image: url('/img/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 80vh;
}

.chatbox {
    background-color: #f8efe8;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: calc(80vh - 4px);
    justify-content: flex-end;
}

.chatForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.chatForm input {
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    border-top: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 4px;
    width: calc(100% - 8px);
}

#chatText {
    font-family: 'Roboto', sans-serif;
    height: auto;
    margin: 4px;
    overflow-y: auto;
    text-align: left;
    word-wrap: break-word;
}

#chatText p {
    margin: 4px;
    margin-bottom: 8px;
}

#chatText::-webkit-scrollbar {
    width: 10px;
}

#chatText::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

#chatText::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

#chatText::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
}

@media screen and (orientation: portrait), screen and (max-width: 1320px) {
    .main {
        flex-direction: column;
    }
    .left {
        height: auto;
        justify-content: center;
        width: 100%;
    }
    .center {
        height: auto;
        width: 100%;
    }
    .right {
        height: auto;
        justify-content: center;
        width: 100%;
    }
    .lObject {
        text-align: center;
    }
    .lObject input {
        max-width: 250px;
        width: 80vw;
    }
    .cObject {
        display: inline-flex;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .rObject {
        display: inline-flex;
        justify-content: center;
    }
    .text {
        text-align: center;
    }
    svg {
        height: 80vw;
        width: 80vw;
    }
    .chatbox {
        height: 250px;
        width: 80vw;
    }
}