@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/background.jpg');
    background-size: cover;
    overflow: visible;
}

.main {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.left {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    padding-left: 2%;
}

.center {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding-right: 2%;
}

.lObject {
    display: block;
    justify-content: left;
    width: 100%;
    padding-top: 5%;
}

.cObject {
    display: flex;
    justify-content: center;
    width: 100%;
}

.text {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

button {
    background-color: #deccba;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    padding: 3px 24px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #a8937d;
}

svg {
    height: 96%;
    max-height: 800px;
    width: 96%;
    max-width: 800px;
    background-image: url('/img/wood.jpg');
}

@media only screen and (max-width: 1439px) {
    .main {
        flex-direction: column;
    }
    .left {
        height: auto;
        width: 100%
    }
    .center {
        height: auto;
        width: 100%;
        padding-top: 2%;
    }
    .right {
        height: auto;
        width: 100%
    }
    .lObject {
        display: inline-flex;
        justify-content: center;
        padding-top: 2%;
    }
    .rObject {
        justify-content: center;
        padding-top: 2%;
    }
}
